address=192.168.0.1
port=5555
max_connections=512
# max_memory=0 for unlimited, otherwise specify in bytes
max_memory=0
# proto_max_bulk_len=0 for unlimited, otherwise specify in bytes (default: 512MB)
proto_max_bulk_len=0
threads=4
whitelist=127.0.0.1
