name: zcached tests

on:
  push:
    paths-ignore:
      - "**/README.md"
      - ".gitignore"
      - "LICENSE"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Install Zig
      run: |
        curl -sSfL https://ziglang.org/download/0.14.0/zig-linux-x86_64-0.14.0.tar.xz | tar -xJ
      shell: bash

    - name: Lint Code
      run: zig-linux-x86_64-0.14.0/zig fmt --check .

    - name: Run Tests
      run: zig-linux-x86_64-0.14.0/zig build test
